.section-weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64rem;
}

.general-information {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 0.6rem;
}

.city {
    font-size: 2.8rem;
    font-weight: 700;
    color: #e9ecef;
}

.time,
.weather {
    font-size: 2rem;
    font-weight: 300;
    color: #ced4da;
}

.weather {
    text-transform: capitalize;
}

.container-weather {
    display: flex;
    gap: 1.6rem;
}

.wrap-temperature {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;
}

.temperature {
    font-size: 5rem;
    font-weight: 500;
    color: #e9ecef;
    margin-left: 1.5rem;
}

.weather-detail {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.8rem 0;

    font-size: 1.6rem;
}

.temp {
    display: flex;
    align-items: flex-start;
}

.weather-icon {
    height: 60px;
}

.wrap-temperature span {
    font-size: 1.6rem;
    padding: 0.8rem 0;
}

@media (max-width: 940px) {
    .section-weather {
        width: 54rem;
    }
}
