.section-weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64rem;
}

.general-information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.6rem;
    text-align: end;
}

.city {
    font-size: 2.8rem;
    font-weight: 700;
    color: #e9ecef;
}

.time,
.weather {
    font-size: 2rem;
    font-weight: 300;
    color: #ced4da;
}

.weather {
    text-transform: capitalize;
}

.container-weather {
    display: flex;
    gap: 1.6rem;
}

.wrap-temperature-info {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem;
}

.wrap-temp {
    display: flex;
}

.temperature {
    font-size: 5rem;
    font-weight: 500;
    color: #e9ecef;
    margin-left: 1.5rem;
}

.weather-detail {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.8rem 0;

    font-size: 1.6rem;
}

.temp {
    display: flex;
    align-items: flex-start;
}

.weather-icon {
    height: 60px;
}

.wrap-temperature-info span {
    font-size: 1.6rem;
    padding: 0.8rem 0;
}

@media (max-width: 940px) {
    .section-weather {
        width: 54rem;
        align-items: flex-start;
    }

    .container-weather {
        align-items: center;
    }

    .temp {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 544px) {
    .section-weather {
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
    }

    .container-weather {
        order: 1;
    }

    .general-information {
        text-align: start;
    }

    .temp {
        flex-direction: row;
    }
}
